<div class="container">
  <input type="" nz-input>
  <nav>
    <a routerLink="/about">About</a>
    <a routerLink="/home">Home</a>
  </nav>
  <nz-select ngModel="lucy">
    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
    <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
  </nz-select>

  <nz-date-picker></nz-date-picker>

  <!-- nzAutosize enable will flash -->
  <textarea
    nz-input
    placeholder="Autosize height with minimum and maximum number of lines"
    [nzAutosize]="{ minRows: 2, maxRows: 6 }"
></textarea>


</div>